<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <meta charset="UTF-8">
    <meta name='description' content='Tech Syndicate inTech Registration Website' />
    <meta name="keywords"
        content="tech syndicate, ts, amity 46, aisg, technology club, cyberamity46, syndicateofamity46, techsyndicate46">
    <meta name="robots" content="index, follow">
    <meta name='author' content='Tech Syndicate' />
    <link rel='icon' type='image/png'
        href='https://github.com/techsyndicate/website/blob/main/public/assets/images/ts.png?raw=true'>

    <title>Tech Syndicate | inTech </title>
    <title>Document</title>
</head>

<body>
    
</body>
</html>