<html>

<body>
    <link rel="stylesheet" href="https://intech.techsyndicate.us/style.css">
    <div id="thank-you" class="reg-container">
        <h1 class="title">inTech Password Reset</h1>
        <div class="reg-form-2">
            <p class="thank-you-p">
                Hi <%= name %>, <br>
                You have requested a password reset. If you didn't make any such request, please ignore this mail and
                contact the mods below.<br> <br>
                Here's the link to reset your password - <a
                    href="https://intech.techsyndicate.us/callback/<%= token %>">https://intech.techsyndicate.us/callback/<%= token %></a><br><br>
                In case you face any issues, please feel free to DM any moderators.<br>
                <br>
                Revolutionize <br>
                Aayan Agarwal, President (+91 9650573555) <br>
                Aayush Garg, Vice President (+91 9717966964) <br>
            </p>
        </div>
    </div>
</body>

</html>