<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link rel="stylesheet" href="/style1.css">
    <meta charset="UTF-8">
    <meta name='description' content='Tech Syndicate inTech Registration Website' />
    <meta name="keywords"
        content="tech syndicate, ts, amity 46, aisg, technology club, cyberamity46, syndicateofamity46, techsyndicate46">
    <meta name="robots" content="index, follow">
    <meta name='author' content='Tech Syndicate' />
    <link rel='icon' type='image/png'
        href='https://github.com/techsyndicate/website/blob/main/public/assets/images/ts.png?raw=true'>

    <title>Tech Syndicate | inTech </title>
    <title>Document</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <div class="nav">
        <img src="https://github.com/techsyndicate/website/blob/main/public/assets/images/ts.png?raw=true">
    </div>
    <div id="reg-container" class="reg-container">
        <h1 class="title">Register</h1>
        <div class="reg-form">
            <div class="reg-form-div-container">
                <div class="reg-form-div">
                    <p for="name">Name</p>
                    <input id="name" type="text" name="name" placeholder="John Doe">
                </div>
                <div class="reg-form-div">
                    <p for="dob">Date Of Birth</p>
                    <input id="dob" type="date" name="dob">
                </div>
            </div>
            <div class="reg-form-div-container">
                <div class="reg-form-div">
                    <p for="email">School Email</p>
                    <input type="text" id="email" name="email" placeholder="john.doe@ais.amity.edu">
                </div>
                <div class="reg-form-div">
                    <p for="phone">Phone Number</p>
                    <input type="number" id="phone" name="phone" placeholder="9889889889">
                </div>
            </div>
            <div class="reg-form-div-container">

                <div class="reg-form-div">
                    <p for="adno">Admission Number</p>
                    <input type="number" id="adno" name='adno' placeholder="1111">
                </div>
                <div class="reg-form-div">
                    <p for="class">Grade/Class</p>
                    <input type="number" id="class" name="class" placeholder="9">
                </div>
            </div>
            <div class="reg-form-div-container">

                <div class="reg-form-div">
                    <p for="section">Section</p>
                    <input type="text" id="section" name="section" placeholder="A">
                </div>
                <div class="reg-form-div">
                    <p for="disname">Display Name</p>
                    <input type="text" id="disname" name="disname" placeholder="johnnygames">
                </div>
            </div>
            <div class="reg-form-div-container-parent">
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                <label style="color: #16e16e; font-size: 1.3rem;" for="vehicle1">
                    I consent for my child if above 13 to join Discord Server of inTech (filled by parent). </label><br>
            </div>
        </div>
        <div class="inpt-sub-div-1">
            <button class="inpt-sub" onClick="submit()">Continue</button>
        </div>
    </div>
    <div id="reg-container-2" class="reg-container">
        <h1 class="title">Choose Interested Fields</h1>
        <div class="reg-form-2">
            <% for (i in events){ %>
            <div class="reg-form-div-container">
                <% for (a in events[i]) {%>
                <button style="color: rgb(255, 255, 255); border: #2C2A2A solid 3px;" class="event-but"
                    onclick="select('<%= events[i][a] %>')" id="<%= events[i][a] %>"><%= events[i][a] %></button>
                <% } %>
            </div>
            <% } %>
        </div>
        <div class="inpt-sub-div">
            <button id="regis" class="inpt-sub" onClick="register()">Submit</button>
        </div>

    </div>
    <div id="thank-you" class="reg-container">
        <h1 class="title">Thank You</h1>
        <div class="reg-form-2">
            <p class="thank-you-p">Your registration is complete. You have been emailed the details to proceed further.
            </p>
        </div>
    </div>
</body>

</html>

<script>
    var selected = [];
    var notyf = new Notyf();

    function submit() {
        var vehicle1 = document.getElementById("vehicle1").checked;
        var name = window.document.getElementById("name").value;
        var dob = window.document.getElementById("dob").value;
        var email = window.document.getElementById("email").value;
        var phone = window.document.getElementById("phone").value;
        var adno = window.document.getElementById("adno").value;
        var classs = window.document.getElementById("class").value;
        var section = window.document.getElementById("section").value;
        var disname = window.document.getElementById("disname").value;
        if (!vehicle1) {
            notyf.error("Please ask your parents to consent for Discord!");
            return;
        }
        if (!(name && dob && email && phone && adno && classs && section && disname)) {
            notyf.error("Please fill all the fields");
            return;
        }
        if (new Date(dob).getFullYear() < 2000) {
            notyf.error("Please enter a valid date of birth");
            return;
        }
        if (phone.length != 10) {
            notyf.error("Please enter a valid phone number");
            return;
        }
        // email regex
        var re =
            /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (!re.test(email)) {
            notyf.error("Please enter a valid email");
            return;
        }
        if (adno.length < 4 || adno.length > 6) {
            notyf.error("Please enter a valid admission number");
            return;
        }
        if (classs < 1 || classs > 12) {
            notyf.error("Please enter a valid class");
            return;
        }
        window.document.getElementById("reg-container").style.display = "none";
        window.document.getElementById("reg-container-2").style.display = "flex";

    }


    function select(string) {
        var x = document.getElementById(string);
        if (x.style.color == "rgb(255, 255, 255)") {
            x.style.border = "3px solid #16e16e";
            x.style.color = "#16e16e";
            selected.push(string);
        } else {
            x.style.color = "rgb(255, 255, 255)";
            x.style.border = "3px solid #2C2A2A"
            var index = selected.indexOf(string);
            if (index > -1) {
                selected.splice(index, 1);
            }
        }
        console.log(selected)
    }

    async function register() {
        var name = window.document.getElementById("name").value;
        var dob = window.document.getElementById("dob").value;
        var email = window.document.getElementById("email").value;
        var phone = window.document.getElementById("phone").value;
        var adno = window.document.getElementById("adno").value;
        var classs = window.document.getElementById("class").value;
        var section = window.document.getElementById("section").value;
        var disname = window.document.getElementById("disname").value;
        if (selected.length == 0) {
            notyf.error("Please select atleast one field");
            return;
        }
        var body = JSON.stringify({
            name: name,
            dob: dob,
            email: email,
            phone: phone,
            adno: adno,
            grade: classs,
            section: section,
            disname: disname,
            selected: selected
        });
        window.document.getElementById('regis').disabled = true;
        await fetch("/register", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: body
        }).then(async (response) => {
            response = await response.json()
            console.log(response)
            if (response.hasOwnProperty("success") && response.success == false) {
                notyf.error(response.msg);
                window.document.getElementById('regis').disabled = false;
                return;
            }
            window.document.getElementById("reg-container-2").style.display = "none";
            window.document.getElementById("thank-you").style.display = "flex";
        });
    }
</script>