@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.reg-form-div-container-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.reg-form-div-container-parent input {
    width: 20px !important;
    color: #16e16e;
}

.event-but {
    background-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1vw;
    cursor: pointer;
    border-radius: 10px;
    width: 20vw;
    font-family: 'Outfit', sans-serif;
}

#reg-container {
    margin-bottom: 50px;
}

#reg-container-2 {
    display: none;
}

#thank-you {
    display: none;
}

.thank-you-p {
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
    color: #fff;
}

.nav img {
    width: 70px;
    margin: 10px;
}

.title {
    color: #16e16e;
    width: 80vw;
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: #000;
    font-family: 'Outfit', sans-serif;
}

.inpt-sub-div-1 {
    width: 60vw;
    display: flex;
    justify-content: flex-end;
}

.inpt-sub-div {
    width: 80vw;
    display: flex;
    justify-content: flex-end;
}

.inpt-sub {
    margin-top: 15px;
    width: 18vw !important;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    background-color: #16e16e;
    font-size: 1.5rem;
    border-radius: 9px;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    font-weight: 400;
}

.reg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.reg-form p {
    width: 40vw;
    color: #16e16e;
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
}

.reg-form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
    width: 40vw;
}

.reg-form-div-container {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    font-family: 'Outfit', sans-serif;
}

.reg-form input {
    height: 40px;
    width: 30vw;
    border-radius: 7px;
    padding: 1.3vw;
    background-color: #000;
    border: #2C2A2A solid 2px;
    font-size: 1rem;
    color: #fff;
    font-family: 'Outfit', sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.reg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1020px) {
    .event-but {
        width: 80vw;
        font-size: 3rem;
    }

    .title {
        font-size: 8rem;
    }

    .nav img {
        width: 100px;
    }

    .reg-form p {
        font-size: 3rem;
        margin: 0;
        margin-bottom: 5px;
        width: 90vw;
    }

    .reg-form-div-container {
        flex-direction: column;
    }

    .reg-form input {
        width: 80vw;
        height: 120px;
        font-size: 3rem;
    }

    .inpt-sub {
        width: 80vw !important;
        height: 100px;
        font-size: 3rem;
    }

    .inpt-sub-div,
    .inpt-sub-div-1 {
        width: 80vw;
        margin-bottom: 50px;
    }

    .reg-form-div {
        margin-bottom: 5vw;
    }

    .thank-you-p {
        font-size: 3rem;
        text-align: center;
    }

    .reg-form-div-container-parent input {
        width: 100px !important;
    }

    .reg-form-div-container-parent label {
        font-size: 2.3rem !important;
        margin-left: 35px;
    }

    .reg-form-div-container-parent {
        width: 80vw;
        margin-bottom: 50px;
    }
}